body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c3e50;
  color: #eee;
  height: 100vh;
  flex-direction: column;
  font-family: "Bebas Neue", sans-serif;
  padding-top: 64px;
}

@view-transition {
  navigation: auto;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0px;
  top: 0px;
  line-height: 64px;
  font-size: 24px;
  gap: 1rem;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: #eee;
  cursor: pointer;
}
